<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<section>

		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="container text-center">

						<img style="height: 200px; width: 200px;"
							class="my_profile_picture" alt="profile photo"
							th:src="@{'/img/'+${user.imageUrl}}">

						<h1 class="text-center mt-3">
							<span th:text="${user.name}"> </span>
						</h1>
						<table class="table">
							<thead class="thead-dark">

							</thead>
							<tbody>
								<tr>
									<th scope="col">User Id</th>
									<td scope="col"><span th:text="${user.id}"> </span></td>

								</tr>
								
								<tr>
									<th scope="row">Email</th>
									<td><span th:text="${user.email}"> </span></td>

								</tr>
								<tr>
									<th scope="row">Role</th>
									<td><span th:text="${user.role}"> </span></td>

								</tr>
								<tr>
									<th scope="row">Account Active</th>
									<td><span th:text="${user.enable}"> </span></td>

								</tr>
								<tr>
									<th scope="row">About</th>
									<td><span th:text="${user.about}"> </span></td>

								</tr>
								<!-- <tr>
								<th scope="row">Description</th>
								<td><span th:text="${user.description}"> </span></td>

							</tr> -->
								<tr>
									<th scope="row"></th>
									<td></td>

								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>