<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Sign Up Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-3">


						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class=" text-center" th:text="${session.message.content}"></p>
							<!-- 	<th:block th:text="${#session.removeAttribute('message')}"></th:block> -->
						</div>

						<div class="container text-center">
							<img style="width: 80px" th:src="@{/img/signupimage1.jpeg}"
								alt="" />
						</div>
						<h1 class="text-center">SignUp Here !!</h1>
						
						<form novalidate action="" th:action="@{/do_register}" method="post"
							   ath:object="${user}">

							<!-- name field -->
							<div class="form-group">
								<label for="name_field">Your Name:</label> 
							<input name="name"
							type="text" 
							class="form-control" 
							th:classappend="${#fields.hasErrors('user.name') ? 'is-invalid' : ''}"
							id="name_field"
							aria-describedby="emailHelp" 
							placeholder="Enter Your Name Here"
							required th:value="${user.name}"/>
							
							<div th:each="e : ${#fields.errors('user.name')}" 
							th:text="${e}"
							id="validationServer03Feedback" 
							class="invalid-feedback">
							Please provide a valid city.</div>

							</div>

							<!-- email field -->
							<div class="form-group">
								<label for="email_field">Your Email:</label> 
								<input name="email"
								type="email" 
								class="form-control" 
							    th:classappend="${#fields.hasErrors('user.email')?'is-invalid':''}"
							    id="email_field"
								aria-describedby="emailHelp"
								placeholder="Enter Your Email Here" required
								th:value="${user.email}"/>
							<div th:each="e : ${#fields.errors('user.email')}" 
							th:text="${e}"
							id="validationServer03Feedback" 
							class="invalid-feedback">
							Please provide a valid city.</div>
							</div>

							<!-- password field -->
							<div class="form-group">
								<label for="password_field">Your Password:</label> 
								<input
								name="password" type="password" class="form-control"
								th:classappend="${#fields.hasErrors('user.password')?'is-invalid':''}"
							   id="password_field" aria-describedby="emailHelp"
									placeholder="Enter Your Password Here" required>
									
							<div th:each="e : ${#fields.errors('user.password')}" 
							th:text="${e}"
							id="validationServer03Feedback" 
							class="invalid-feedback">
							Please provide a valid city.</div>

							</div>

							<!-- user about field -->
							<div class="form-group text-center">
								<textarea name="about" class="from-control col" rows="10" 
								th:classappend="${#fields.hasErrors('user.about')?'is-invalid':''}"
							    placeholder="Enter something about yourself"
								th:text="${user.about}"></textarea>
							
							<div th:each="e : ${#fields.errors('user.about')}" 
							th:text="${e}"
							id="validationServer03Feedback" 
							class="invalid-feedback">
							Please provide a valid city.</div>
							</div>

							<!-- terms and conditions check box -->

							<div class="from-group from-check text-center">
								<input type="checkbox" name="agreement" class="from-check-input"
									id="agreement" /> 
									<label for="agreement"> Accept terms
									and conditions</label>

							</div>
							<div class=" containertext-center text-center">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn bg-warning text-white">Reset</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>